@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Proměnné */
:root {
  --img-height: 80%;
}

body {
  /* Nastaví font Poppins každému textu na stránce */
  font-family: "Poppins", sans-serif;
}

/* Vlastnosti textu */
h1,
h2 {
  color: #333333;
}
/* Hlavní nadpis */
h1 {
  text-align: center;
  font-size: 200%;
}
/* Nadpisy nad formuláři */
h2 {
  text-align: left;
  font-size: 140%;
}

/* Rozpoložení celé stránky */
.layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  height: 90vh;
  overflow: hidden;
  margin: -5px 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 20px;
  box-shadow: #ababab 0px 0px 4px 0px;
}

/* Hlavní kontejner */
.main-container {
  align-items: center;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}
/* Levý kontejner s formulářem a grafy */
.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 80%;
  width: 100%;
  margin-left: -18px;
}
/* Pravý kontejner s obrázkem a poznámkami */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 95%;
  width: 100%;
  padding: 10px;
}

/* První kontejner */
.first-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
/* Prvky v prvním kontejneru */
.first-element {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  height: auto;
  width: 108%;
  text-align: left;
}

/* Druhý kontejner */
.second-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 113%;
  box-sizing: border-box;
}
/* Prvky v druhém kontejneru */
.second-element {
  width: 100%;
  max-width: 400px;
  height: 300px;        /* Jak vysoký obrázek bude */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Výstupní graf */
#output {
  width: 100%;
  height: 100%;
  display: block;
  /* žádný object-fit! */
}


#image img{
  width: 100%;
  height: auto;
  display: block;
}

/* Obrázky */
.image {
  width: var(--img-height);
  height: auto;
  max-width: var(--img-height);
  max-height: var(--img-height);
  object-fit: cover;
  margin: auto;
  display: block;
}

/* Formulářové řádky */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* Výzva pro vstup hodnoty */
.form-row label {
  margin-right: 10px;
  font-size: 100%;
  color: #333333;
}
/* Vstupní políčko pro hodnotu */
.form-row input {
  width: 120px;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

#output{  
  border: 3px solid rgb(157, 157, 157);
}

/* Kontejner, co obsahuje vstupy pro alfa a beta hodnoty */
#options {
  display: flex;
  gap: 2rem;        /* mezera mezi alfa a beta kontejnery */
  align-items: flex-start; /* zarovná nahoru */
}

/* Pro alfa a beta hodnoty */
.optional-values h2{
  text-align: center;
  font-size: 124%;
}

/* Kontejner pro tlačítko */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* Tlačítko pro odeslání uživatelských dat*/
.button-submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.2s;
}
/* Tlačítko pro náhodná data*/
.button-reset {
  background-color: #b11b1b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.2s;
}
/* Přejetí po tlačítku */
.button-submit:hover {
  background-color: #347c36;
}
.button-reset:hover {
  background-color: #8b0f0f;
}
/* Poznámky pod čarou */
.footnotes {
  color: #333333;
  font-size: 95%;
  text-align: left;
  margin-top: 20px;
}

#error-box.show {
  display: block;
}
