@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --img-height: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #333333;
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Rovnoměrná mezera mezi kontejnery */
    gap: 20px; /* Zmenšená mezera mezi kontejnery */
    height: 80vh;
    overflow: hidden;
    margin: auto 60px;
    padding: 20px; /* Stejný padding ze všech stran */
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: #ababab 0px 0px 4px 0px;
}

.container:first-child {
    flex: 3; /* První kontejner širší */
    min-width: 55%; /* Zvýšená minimální šířka prvního kontejneru */
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 20px; /* Stejný padding ze všech stran */
    overflow: auto;
}

.container:last-child {
    flex: 3; /* Druhý kontejner užší */
    min-width: 40%; /* Snížená minimální šířka druhého kontejneru */
    min-height: 400px; /* Nastavená minimální výška */
    max-height: 600px; /* Nastavená maximální výška */
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 20px; /* Stejný padding ze všech stran */
    overflow: auto;
}

.data-container-form {
    display: flex;
    flex-direction: row; /* Změna na řádkový směr */
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: center; /* Horizontální zarovnání na střed */
    gap: 20px; /* Mezery mezi prvky */
    height: 100%;
}

.data-output{
    
}

.image {
    width: var(--img-height); /* Zmenšená šířka obrázku */
    height: auto;
    max-width: var(--img-height); /* Zmenšená maximální šířka obrázku */
    max-height: var(--img-height); /* Zmenšená maximální výška obrázku */
    object-fit: cover;
    margin: auto; /* Vycentrování obrázku */
    display: block; /* Zajistí, že obrázek je blokový prvek */
}

.image-container {
    display: inline-block; /* Přizpůsobení velikosti obrázku */
    border: 1px solid #000000;
    width: auto; /* Automatická šířka podle obsahu */
    height: auto; /* Automatická výška podle obsahu */
    margin: auto; /* Vycentrování kontejneru */
}

/* Kontejner, který obsahuje nápovědu */
.help-container{
    border: 1px solid #000000;
}

.label {
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-bottom: 10px;
}

.input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-section {
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 10px;
}